<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMuseumService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8188/MuseumService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMuseumService"
                contract="IMuseumService" name="BasicHttpBinding_IMuseumService" />
        </client>
    </system.serviceModel>
</configuration>